@import "../../App.css";

:root {
  --list-width: 60vw;
  --list-height: 45vh;
  --responsive-list-width: 95vw;
}

.head-bar {
  height: var(--header-bar-height);
  background-color: var(--header-bar-color);
}

.head-bar>p {
  line-height: var(--header-bar-height);
  font-size: var(--header-bar-font-size);
  font-family: var(--default-font-family);
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.items-display {
  height: calc(var(--row-height) - 7dvh);
  width: var(--column-one-width);
  overflow-y: auto;
  overflow-x: hidden;
}

.display-table {
  max-height: calc(var(--row-height) - 7dvh);
  font-family: var(--default-font-family);
  width: 100%;
  font-weight: bold;
}

.table-head-row {
  height: var(--header-bar-height);
  width: var(--column-one-width);
  background-color: rgb(200, 200, 200);
  position: sticky;
  top: 0;
  font-size: 1.25dvw;
}

table {
  border-spacing: 0px;
}

.body-row {
  background-color: var(--button-background-color);
  text-align: center;
  box-shadow: 5px 5px 10px black;
}

.body-row>td {
  padding: 20px 0px 20px 0px;

}

.remove {
  background-color: rgb(185, 47, 47);
}

.remove:hover {
  cursor: pointer;
  background-color: rgb(185, 47, 47, 0.8);
}


td.quantity {
  width: 1dvw;
  padding: 1dvh 3dvw 1dvh 3dvw;
}

td>input {
  font-family: var(--default-font-family);
  width: 3vw;
  height: 4vh;
  font-size: 1vw;
  text-align: center;
  background-color: rgb(20, 20, 20, 0);
  border: none;
  box-shadow: none;
  font-weight: bold;
}

td>input:focus {
  border: none;
}

@media screen and (max-width: 900px) {
  .items-display {
    width: var(--column-responsive-width);
  }

  .head-bar>p {
    font-size: var(--header-bar-responsive-font-size);
  }

  .table-head-row {
    font-size: 3.25vw;
  }

  td.quantity {
    width: 10vw;
    height: 6vw;
  }

  input.quantity {
    width: 5vw;
  }

  td>input {
    font-size: 3vw;
  }
}