:root {
  --list-width: 60vw;
  --list-height: 45vh;
  --responsive-list-width: 95vw;
}

.head-bar {
  height: 7vh;
  background-color: rgb(75, 173, 105);
}

.head-bar>p {
  margin: 0;
  text-align: center;
  line-height: 7vh;
  font-size: 1.5vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.items-display {
  height: calc(var(--list-height) - 7vh);
  width: var(--list-width);
  overflow-y: auto;
  overflow-x: hidden;
}

.display-table {
  width: 100%;
  max-height: calc(var(--list-height) - 7vh);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.table-head-row {
  background-color: rgb(200, 200, 200);
  height: 7vh;
  width: var(--list-width);
  position: sticky;
  top: 0;
  font-size: 1.25vw;
}

table {
  border-spacing: 0px;
}

.body-row {
  text-align: center;
  background-color: rgb(220, 220, 220);
  box-shadow: 5px 5px 10px black;
}

.body-row>td {
  padding: 20px 0px 20px 0px;

}

.remove {
  background-color: rgb(185, 47, 47);
}

.remove:hover {
  cursor: pointer;
  background-color: rgb(185, 47, 47, 0.8);
}


td.quantity {
  width: 1vw;
  padding: 1vh 3vw 1vh 3vw;
}

td>input {
  width: 3vw;
  height: 4vh;
  font-size: 1vw;
  text-align: center;
  background-color: rgb(20, 20, 20, 0);
  border: none;
  box-shadow: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

td>input:focus {
  border: none;
}

@media screen and (max-width: 900px) {
  .items-display {
    width: var(--responsive-list-width);
  }

  .head-bar>p {
    font-size: 3.5vw;
  }

  .table-head-row {
    font-size: 3.25vw;
  }

  td.quantity {
    width: 10vw;
    height: 6vw;
  }

  input.quantity {
    width: 5vw;
  }

  td>input {
    font-size: 3vw;
  }
}